{% extends 'base.html' %}
{% load staticfiles %}
{% block styles %}
<style>
.starter-template {
  text-align: center;
}


 </style> 
{% endblock %}

{% block starter-template %}
<div class="starter-template">
    <h1>University College London</h1>
    <p class="lead">UCL Institute of Neurology<br>Ryten Group</p>
  </div>
{% endblock %}

{% block content %}
<div class="container">
<h1><b><font color="blue">Careers</font></b></h1>
<html>
<body>
    <p>
    <h3>Closed June 2017</h3>
    Software Developer.

    <h3> Closed August 2017</h3>
    PhD Studentship.
    <h3> Closed  July 2017</h3>
    Research Assistant.
    </p>
</body>
</html>
</div>
</body>
</html>
{% endblock %}
        