{% extends 'base.html' %}

{% block styles %}
<style>
.starter-template {
  text-align: center;
}


 </style> 
{% endblock %}

{% block starter-template %}
<div class="starter-template">
    <!-- <h1>University College London</h1>
    <p class="lead">UCL Institute of Neurology<br> Department of Molecular Neuroscience</p> -->
  </div>
{% endblock %}

{% block content %}

</body>
<h1> Braineacv2</h1>
<body>
Braineacv2 is ...

<a href="http://braineacv2.inf.um.es/">Braineav2 resources</a>

<p>This is an open-access resources distributed under the terms of the Creative Commons Attribution License, which permits
  unrestricted use, distribution, and reproduction in any medium, provided the original author and source are credited</p>
</body>
{% endblock %}
        