{% extends 'base.html' %}
{% load staticfiles %}
{% block styles %}
<style>
.starter-template {
  text-align: center;
}


 </style> 
{% endblock %}

{% block starter-template %}
<div class="starter-template">
    <!-- <h1>University College London</h1>
    <p class="lead">UCL Institute of Neurology<br>Ryten Group</p> -->
  </div>
{% endblock %}

{% block content %} 
<html>
<h1><b><font color="brawn">Daniel Onah, PhD</font></b></h1>
<hr>
<body>    
<div class='col-sm-6'>
    
  <p>  
    <!-- <center> -->
  <!-- <img class="img-portfolio img-responsive" src="{% static 'img/onah.jpg' %}" width="140" height="140"> for square pictures-->
  <img class="rounded-circle" src="{% static 'img/onah.jpg' %}" alt="Generic placeholder image" width="140" height="140">
    <!-- </center> -->
   <h4> <font color="red">Software Developer</font> </h4>
   <h5> Ph.D. M.Sc. (Dist) B.Sc. (Hons)</h5>
    <div class="line"> Contact details:</div> 
    <div class ="line">Tel:+44 20 567 73861 </div>
    <div class="line"> Email: <a href="mailto:d.onah@ucl.ac.uk">d.onah@ucl.ac.uk</a></div> 
    <!-- <div class="line">Fax:&nbsp;020 4444 2000   </div>  -->
    <!-- <div class ="line">Tel:&nbsp;+44 20 567 73861 </div> -->
    <div class ="line" ><b>Funded by:</b><font color="blue"> Wellcome Trust</font></div>
  </div>
  <!-- <p class="">Software Developer</p> 
  <!- <p class="">Ryten Group</p> -->

<div class="container">
<html>
<body>
        <h4><font color="blue"> Research Interests</font></h4>
        I'm interested in weighted gene co-expression network analysis (WGCNA), DNA - RNA gene expression, weighted correlation network
        <h4><font color="blue"> Biography</font> </h4>
        
         Dr Onah, a native born of Nigeria is an academic of strong international standing in Computer Science 
         and Computer Systems Engineering (Software Systems). Dr Onah received BSc (Honors) degree in Computer Science 
         from Nigeria and received the MSc (Eng.) degree in Computer Systems Engineering with specialization 
         in Software Systems from the University of East London, United Kingdom in 2011 and the 
         Doctor of Philosophy in Computer Science from the University of Warwick, United Kingdom in 2017.
         <p> I joined Dr Mina Ryten's Lab at UCL Institute of Neurology in August 2017. I will focus on understanding the transcription factors
         of gene expression in post-morten human tissues of brain. By gaining deeper understanding and insight into this research we hope we are able to create useful software package
         which can promote more stable and accurate regulation of gene expression. This will benefit the application in bioinformatics especially in molecular neuroscience.
        
  
       <h4><font color="blue"> Extra Curricular activities</font></h4>
       Programming and chess
     
        <h4><font color="blue">List of selected Publications</font></h4>
  
        <li>
            Onah, D. F.O. and Sinclair, J.E. (2016) A Multi-Dimensional Investi- gation of Self-Regulated Learning in a Blended Classroom Context: A Case Study on eLDa MOOC. In the 19th International Conference on Interactive Collaborative Learning(ICL2016), Belfast, United Kingdom. 21st- 23rd September, 2016.
        </li>
        <li>D.F.O. Onah, J.E. Sinclair (2016) Exploring Learners’ Strategies of Self-Regulated Learning Abilities in a Novel MOOC Platform: eLDa. The 23rd Annual Conference of the Association for Learning Technology (ALT2016). University of Warwick, United Kingdom. 6th – 8th September 2016.</li>
        <li>Onah, D. F.O. and Sinclair, J.E. (2016) An Empirical Investigation of students’ perceptions of self-regulated learning in Online Blended Learning: A case study of a Novel E-Learning Platform. In Proceedings of the 8th International Conference on Education and New Learning Technologies (EDULEARN16), pp.5960 - 5969. Barcelona, Spain. 4th-6th July, 2016.</li>
</html>
</div>
</body>
</html>
{% endblock %}

<!-- The next line is to link other hidding pages -->
  <!-- <p> 
    <div class="collapse navbar-collapse" id="navbar">
        <ul class="nav navbar-nav navbar-left">
        <li><a href="{% url 'daniel_biography' %}">Biography</a>
        <li><a href="{% url 'daniel_publications' %}">Publications</a>
        </li>
        </li>
        </ul>
    </div>
  </p> -->
<!-- 
</div> 
</body>
</html> -->


