{% extends 'base.html' %}
{% load staticfiles %}
{% block styles %}
<style>
.starter-template {
  text-align: center;
}


 </style> 
{% endblock %}

{% block starter-template %}
<div class="starter-template">
    <!-- <h1>University College London</h1>
    <p class="lead">UCL Institute of Neurology<br>Ryten Group</p> -->
  </div>
{% endblock %}

{% block content %} 
<html>
<h1><b><font color="brawn">Juan Botia</font></b></h1>
<hr>
<body>    
<div class='col-sm-6'>
    
  <p>  
    <!-- <center> -->
  <!-- <img class="img-portfolio img-responsive" src="{% static 'img/onah.jpg' %}" width="140" height="140"> for square pictures-->
  <img class="rounded-circle" src="{% static 'img/juan.jpg' %}" alt="Generic placeholder image" width="140" height="140">
 
    <!-- </center> -->
   <h4> <font color="red">Hon. Research Fellow at IoN-UCL. </font></h4>
   <h4> <font color="red"> Reader in Computer Science and Artificial Intelligence, Universidad de Murcia, Spaini </font></h4>
   <h5> PhD, M.Sc.  B.Sc. (Hons)</h5>
    <div class="line"> Contact details:</div> 
    <div class ="line">Tel:+34 8 6888 7317</div>
    <div class="line"> Email: <a href="mailto:j.botia@ucl.ac.uk"> j.botia@ucl.ac.uk </a></div> 
    <div class="line"> Email: <a href="mailto:juanbot@um.es"> juanbot@um.es </a></div> 
    <!-- <div class ="line" ><b>Funded by:</b><font color="blue">UCL Institute of Neurology </font></div> -->
    <!-- <div class="line">Fax:&nbsp;020 4444 2000   </div>  -->
    <!-- <div class ="line">Tel:&nbsp;+44 20 567 73861 </div> -->
  </div>
  <!-- <p class="">Software Developer</p> 
  <!- <p class="">Ryten Group</p> -->

<div class="container">
<html>
<body>
        <h4><font color="blue"> Research Interests</font></h4>
        <li> Machine Learning in human genetics and genomics.</li> 
        <li> Gene expression based network models for disease.</li> 
        <li> Statistical assessment of complex models of gene interactions.</li> 
        <h4><font color="blue"> Biography</font> </h4>
       
        Juan A. Botía is machine learning researcher interested in computational methods for genetics and genomics data analysis in the context of neurological diseases. He leads co-expression network analysis within the United Kingdom Brain Expression Consortium (UKBEC). His academic background is in computing science and artificial intelligence. He currently holds a position as Reader in Computer Science and Artificial Intelligence in Universidad de Murcia, Spain. He actively collaborates at Ryten Lab by coordinating the research on network models based on gene expression and genetic data. He also applies machine learning methods for the characterization of gene-phenotype association for the aim to contribute to deciphering
        
        neurodegenerative diseases’ aetiology. 
       

       <h4><p><font color="blue"> Extra Curricular activities</font></p></h4>
       Sci-fi books, music, beer, family 

        <h4><font color="blue">List of selected Publications</font></h4>
        <br>
        <li>The phenotypic and molecular spectrum of PEHO syndrome and PEHO-like disorders. Salpietro V, Zollo M, Vandrovcova J, Ryten M, Botia JA, Ferrucci V, Manole A, Efthymiou S, Al Mutairi F, Bertini E, Tartaglia M. Brain. 2017 Aug 1;140(8):e49. doi: 10.1093/brain/awx155.</li>
        <li>Mutations in NKX6-2 Cause Progressive Spastic Ataxia and Hypomyelination. Chelban V, Patel N, Vandrovcova J, Zanetti MN, Lynch DS, Ryten M, Botía JA, Bello O, Tribollet E, Efthymiou S, Davagnanam I; SYNAPSE Study Group, Bashiri FA, Wood NW, Rothman JE, Alkuraya FS, Houlden H. Am J Hum Genet. 2017 Jun 1;100(6):969-977. doi: 10.1016/j.ajhg.2017.05.009.</li>
        <li>An additional k-means clustering step improves the biological features of WGCNA gene co-expression networks. Botía JA, Vandrovcova J, Forabosco P, Guelfi S, D'Sa K; United Kingdom Brain Expression Consortium, Hardy J, Lewis CM, Ryten M, Weale ME. BMC Syst Biol. 2017 Apr 12;11(1):47. doi: 10.1186/s12918-017-0420-6.</li>
        <li>Discovery and functional prioritization of Parkinson's disease candidate genes from large-scale whole exome sequencing. Jansen IE, Ye H, Heetveld S, Lechler MC, Michels H, Seinstra RI, Lubbe SJ, Drouet V, Lesage S, Majounie E, Gibbs JR, Nalls MA, Ryten M, Botia JA, Vandrovcova J, Simon-Sanchez J, Castillo-Lizardo M, Rizzu P, Blauwendraat C, Chouhan AK, Li Y, Yogi P, Amin N, van Duijn CM; International Parkinson’s Disease Genetics Consortium (IPGDC), Morris HR, Brice A, Singleton AB, David DC, Nollen EA, Jain S, Shulman JM, Heutink P. Genome Biol. 2017 Jan 30;18(1):22. doi: 10.1186/s13059-017-1147-9.</li>
        <li>Gene co-expression networks shed light into diseases of brain iron accumulation. Bettencourt C, Forabosco P, Wiethoff S, Heidari M, Johnstone DM, Botía JA, Collingwood JF, Hardy J; UK Brain Expression Consortium (UKBEC), Milward EA, Ryten M, Houlden H. Neurobiol Dis. 2016 Mar;87:59-68. doi: 10.1016/j.nbd.2015.12.004. Epub 2015 Dec 18.</li>
        <li>Frontotemporal dementia: insights into the biological underpinnings of disease through gene co-expression network analysis. Ferrari R, Forabosco P, Vandrovcova J, Botía JA, Guelfi S, Warren JD; UK Brain Expression Consortium (UKBEC), Momeni P, Weale ME, Ryten M, Hardy J. Mol Neurodegener. 2016 Feb 24;11:21. doi: 10.1186/s13024-016-0085-4.</li> 
</br>
</html>
</div>
</body>
</html>
{% endblock %}