{% extends 'base.html' %}
{% load staticfiles %}
{% block styles %}
<style>
.starter-template {
  text-align: center;
}


 </style> 
{% endblock %}

{% block starter-template %}
<div class="starter-template">
    <h1>University College London</h1>
    <p class="lead">UCL Institute of Neurology<br>Ryten Group</p>
  </div>
{% endblock %}

{% block content %}
<div class="container">
<h1><b><font color="blue">News</font></b></h1>
<html>
<body>
    <p>
    <h3>1 August 2017</h3>
    Dr Daniel Onah joined the Lab as a Researcher & Software Developer.

    <h3> 30 September 2017</h3>
    Regina Reynolds joined the Ryten Lab as a PhD student supevised by  Dr Mina Ryten.

    <h3> 1 October 2017</h3>
    David Zhang joined Ryten Lab as a Research Assistant.
    </p>
</body>
</html>
</div>
</body>
</html>
{% endblock %}
        