{% extends 'base.html' %}
{% load staticfiles %}
{% block styles %}
<style>
.starter-template {
  text-align: center;
}


 </style> 
{% endblock %}

{% block starter-template %}
<div class="starter-template">
    <!-- <h1>University College London</h1>
    <p class="lead">UCL Institute of Neurology<br>Ryten Group</p> -->
  </div>
{% endblock %}

{% block content %} 
<html>
<h1><b><font color="brawn">Regina H. Reynolds</font></b></h1>
<hr>
<body>    
<div class='col-sm-6'>
    
  <p>  
    <!-- <center> -->
  <!-- <img class="img-portfolio img-responsive" src="{% static 'img/onah.jpg' %}" width="140" height="140"> for square pictures-->
  <img class="rounded-circle" src="{% static 'img/regina.jpg' %}" alt="Generic placeholder image" width="140" height="140">
    <!-- </center> -->
   <h4> <font color="red">PhD Student</font></h4>
   <h5>  M.Sc.  B.Sc. (Hons)</h5>
    <div class="line"> Contact details:</div> 
    <div class ="line">Tel:+44 747 644 0424</div>
    <div class="line"> Email: <a href="mailto:regina.reynolds.16@ucl.ac.uk"> regina.reynolds.16@ucl.ac.uk </a></div> 
    <div class ="line" ><b>Funded by:</b><font color="blue"> Leonard Wolfson Experimental Neurology Centre (LWENC) </font></div>
    <!-- <div class="line">Fax:&nbsp;020 4444 2000   </div>  -->
    <!-- <div class ="line">Tel:&nbsp;+44 20 567 73861 </div> -->
  </div>
  <!-- <p class="">Software Developer</p> 
  <!- <p class="">Ryten Group</p> -->

<div class="container">
<html>
<body>
        <h4><font color="blue"> Research Interests</font></h4>
        Ageing; Data Analysis of High-throughput Techniques; Genetics; Huntington’s disease; Metabolism; MicroRNA Profiling; Molecular Biology; Neurodegeneration; Neurophysiology; Statistical Modelling; Transcriptomics.
        <h4><font color="blue"> Biography</font> </h4>
        
        Regina is a PhD student in the Leonard Wolfson Programme at UCL. After a year of rotations, she joined the Ryten lab in 2017 where her research will involve integrating in-house RNA-sequencing, publicly available -omics data, and novel methods of analysis to understand the effect of genetic variation and cell environment on the brain transcriptome and neurodegenerative disease. Regina completed her Bachelor’s and Master’s degree in Molecular Biomedicine at the University of Copenhagen. During this time, she accumulated 2 years of wet lab experience, interrogating the interactions between miR-34a, Sirt1 and p53 in a Huntington’s disease mouse model. As a student making the transition from molecular biology to bioinformatics, Regina is an ardent supporter of interdisciplinary collaboration and research; she believes access to different approaches is crucial to unravelling the complexities of the brain in health and disease. 
        
  
       <h4><p><font color="blue"> Extra Curricular activities</font></p></h4>
       Cycling; Running; Reading; Sketching; Travelling
     
        <h4><font color="blue">List of selected Publications</font></h4>
  
        <li>
                R.H. Reynolds, M.H. Petersen, C.W. Willert, M. Heinrich, N. Nymann, M. Dall, J.T. Treebak, M. Björkqvist, A. Silahtaroglu, L. Hasholt, A. Nørremølle. (2017) Perturbations in the p53/miR-34a/SIRT1 pathway in the R6/2 Huntington’s disease model. [In review]
        </li>
    
</html>
</div>
</body>
</html>
{% endblock %}